<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateForosTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateForosLabel_foroNombre}" for="foroNombre" />
                    <h:inputText id="foroNombre" value="#{forosController.selected.foroNombre}" title="#{bundle.CreateForosTitle_foroNombre}" />
                    <h:outputLabel value="#{bundle.CreateForosLabel_foroTema}" for="foroTema" />
                    <h:inputText id="foroTema" value="#{forosController.selected.foroTema}" title="#{bundle.CreateForosTitle_foroTema}" />
                    <h:outputLabel value="#{bundle.CreateForosLabel_foroFecha}" for="foroFecha" />
                    <h:inputText id="foroFecha" value="#{forosController.selected.foroFecha}" title="#{bundle.CreateForosTitle_foroFecha}" />
                    <h:outputLabel value="#{bundle.CreateForosLabel_foroDescripcion}" for="foroDescripcion" />
                    <h:inputText id="foroDescripcion" value="#{forosController.selected.foroDescripcion}" title="#{bundle.CreateForosTitle_foroDescripcion}" />
                    <h:outputLabel value="#{bundle.CreateForosLabel_usuariosusrcc}" for="usuariosusrcc" />
                    <h:selectOneMenu id="usuariosusrcc" value="#{forosController.selected.usuariosusrcc}" title="#{bundle.CreateForosTitle_usuariosusrcc}" required="true" requiredMessage="#{bundle.CreateForosRequiredMessage_usuariosusrcc}">
                        <f:selectItems value="#{usuariosController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{forosController.create}" value="#{bundle.CreateForosSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{forosController.prepareList}" value="#{bundle.CreateForosShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateForosIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
