<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditUsuariosTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditUsuariosLabel_usrCc}" for="usrCc" />
                    <h:inputText id="usrCc" value="#{usuariosController.selected.usrCc}" title="#{bundle.EditUsuariosTitle_usrCc}" required="true" requiredMessage="#{bundle.EditUsuariosRequiredMessage_usrCc}"/>
                    <h:outputLabel value="#{bundle.EditUsuariosLabel_usrNombres}" for="usrNombres" />
                    <h:inputText id="usrNombres" value="#{usuariosController.selected.usrNombres}" title="#{bundle.EditUsuariosTitle_usrNombres}" required="true" requiredMessage="#{bundle.EditUsuariosRequiredMessage_usrNombres}"/>
                    <h:outputLabel value="#{bundle.EditUsuariosLabel_usrApellidos}" for="usrApellidos" />
                    <h:inputText id="usrApellidos" value="#{usuariosController.selected.usrApellidos}" title="#{bundle.EditUsuariosTitle_usrApellidos}" required="true" requiredMessage="#{bundle.EditUsuariosRequiredMessage_usrApellidos}"/>
                    <h:outputLabel value="#{bundle.EditUsuariosLabel_usrEmail}" for="usrEmail" />
                    <h:inputText id="usrEmail" value="#{usuariosController.selected.usrEmail}" title="#{bundle.EditUsuariosTitle_usrEmail}" required="true" requiredMessage="#{bundle.EditUsuariosRequiredMessage_usrEmail}"/>
                    <h:outputLabel value="#{bundle.EditUsuariosLabel_usrPass}" for="usrPass" />
                    <h:inputText id="usrPass" value="#{usuariosController.selected.usrPass}" title="#{bundle.EditUsuariosTitle_usrPass}" required="true" requiredMessage="#{bundle.EditUsuariosRequiredMessage_usrPass}"/>
                    <h:outputLabel value="#{bundle.EditUsuariosLabel_usrTipo}" for="usrTipo" />
                    <h:inputText id="usrTipo" value="#{usuariosController.selected.usrTipo}" title="#{bundle.EditUsuariosTitle_usrTipo}" />
                    <h:outputLabel value="#{bundle.EditUsuariosLabel_usrSexo}" for="usrSexo" />
                    <h:inputText id="usrSexo" value="#{usuariosController.selected.usrSexo}" title="#{bundle.EditUsuariosTitle_usrSexo}" />
                    <h:outputLabel value="#{bundle.EditUsuariosLabel_usrFechaNacimiento}" for="usrFechaNacimiento" />
                    <h:inputText id="usrFechaNacimiento" value="#{usuariosController.selected.usrFechaNacimiento}" title="#{bundle.EditUsuariosTitle_usrFechaNacimiento}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditUsuariosLabel_usrEstado}" for="usrEstado" />
                    <h:inputText id="usrEstado" value="#{usuariosController.selected.usrEstado}" title="#{bundle.EditUsuariosTitle_usrEstado}" required="true" requiredMessage="#{bundle.EditUsuariosRequiredMessage_usrEstado}"/>
                    <h:outputLabel value="#{bundle.EditUsuariosLabel_ciudadciudadid}" for="ciudadciudadid" />
                    <h:selectOneMenu id="ciudadciudadid" value="#{usuariosController.selected.ciudadciudadid}" title="#{bundle.EditUsuariosTitle_ciudadciudadid}" required="true" requiredMessage="#{bundle.EditUsuariosRequiredMessage_ciudadciudadid}">
                        <f:selectItems value="#{ciudadController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditUsuariosLabel_universidadesuniversidadid}" for="universidadesuniversidadid" />
                    <h:selectOneMenu id="universidadesuniversidadid" value="#{usuariosController.selected.universidadesuniversidadid}" title="#{bundle.EditUsuariosTitle_universidadesuniversidadid}" required="true" requiredMessage="#{bundle.EditUsuariosRequiredMessage_universidadesuniversidadid}">
                        <f:selectItems value="#{universidadesController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                    <h:outputLabel value="#{bundle.EditUsuariosLabel_departamentosdepartamentoid}" for="departamentosdepartamentoid" />
                    <h:selectOneMenu id="departamentosdepartamentoid" value="#{usuariosController.selected.departamentosdepartamentoid}" title="#{bundle.EditUsuariosTitle_departamentosdepartamentoid}" required="true" requiredMessage="#{bundle.EditUsuariosRequiredMessage_departamentosdepartamentoid}">
                        <f:selectItems value="#{departamentosController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{usuariosController.update}" value="#{bundle.EditUsuariosSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditUsuariosViewLink}"/>
                <br />
                <h:commandLink action="#{usuariosController.prepareList}" value="#{bundle.EditUsuariosShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditUsuariosIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
