<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewUsuariosTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewUsuariosLabel_usrCc}"/>
                    <h:outputText value="#{usuariosController.selected.usrCc}" title="#{bundle.ViewUsuariosTitle_usrCc}"/>
                    <h:outputText value="#{bundle.ViewUsuariosLabel_usrNombres}"/>
                    <h:outputText value="#{usuariosController.selected.usrNombres}" title="#{bundle.ViewUsuariosTitle_usrNombres}"/>
                    <h:outputText value="#{bundle.ViewUsuariosLabel_usrApellidos}"/>
                    <h:outputText value="#{usuariosController.selected.usrApellidos}" title="#{bundle.ViewUsuariosTitle_usrApellidos}"/>
                    <h:outputText value="#{bundle.ViewUsuariosLabel_usrEmail}"/>
                    <h:outputText value="#{usuariosController.selected.usrEmail}" title="#{bundle.ViewUsuariosTitle_usrEmail}"/>
                    <h:outputText value="#{bundle.ViewUsuariosLabel_usrPass}"/>
                    <h:outputText value="#{usuariosController.selected.usrPass}" title="#{bundle.ViewUsuariosTitle_usrPass}"/>
                    <h:outputText value="#{bundle.ViewUsuariosLabel_usrTipo}"/>
                    <h:outputText value="#{usuariosController.selected.usrTipo}" title="#{bundle.ViewUsuariosTitle_usrTipo}"/>
                    <h:outputText value="#{bundle.ViewUsuariosLabel_usrSexo}"/>
                    <h:outputText value="#{usuariosController.selected.usrSexo}" title="#{bundle.ViewUsuariosTitle_usrSexo}"/>
                    <h:outputText value="#{bundle.ViewUsuariosLabel_usrFechaNacimiento}"/>
                    <h:outputText value="#{usuariosController.selected.usrFechaNacimiento}" title="#{bundle.ViewUsuariosTitle_usrFechaNacimiento}">
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:outputText>
                    <h:outputText value="#{bundle.ViewUsuariosLabel_usrEstado}"/>
                    <h:outputText value="#{usuariosController.selected.usrEstado}" title="#{bundle.ViewUsuariosTitle_usrEstado}"/>
                    <h:outputText value="#{bundle.ViewUsuariosLabel_ciudadciudadid}"/>
                    <h:outputText value="#{usuariosController.selected.ciudadciudadid}" title="#{bundle.ViewUsuariosTitle_ciudadciudadid}"/>
                    <h:outputText value="#{bundle.ViewUsuariosLabel_universidadesuniversidadid}"/>
                    <h:outputText value="#{usuariosController.selected.universidadesuniversidadid}" title="#{bundle.ViewUsuariosTitle_universidadesuniversidadid}"/>
                    <h:outputText value="#{bundle.ViewUsuariosLabel_departamentosdepartamentoid}"/>
                    <h:outputText value="#{usuariosController.selected.departamentosdepartamentoid}" title="#{bundle.ViewUsuariosTitle_departamentosdepartamentoid}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{usuariosController.destroyAndView}" value="#{bundle.ViewUsuariosDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewUsuariosEditLink}"/>
                <br />
                <h:commandLink action="#{usuariosController.prepareCreate}" value="#{bundle.ViewUsuariosCreateLink}" />
                <br />
                <h:commandLink action="#{usuariosController.prepareList}" value="#{bundle.ViewUsuariosShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewUsuariosIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
