<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateAmigosTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateAmigosLabel_amigoId}" for="amigoId" />
                    <h:inputText id="amigoId" value="#{amigosController.selected.amigoId}" title="#{bundle.CreateAmigosTitle_amigoId}" required="true" requiredMessage="#{bundle.CreateAmigosRequiredMessage_amigoId}"/>
                    <h:outputLabel value="#{bundle.CreateAmigosLabel_amigoCc}" for="amigoCc" />
                    <h:inputText id="amigoCc" value="#{amigosController.selected.amigoCc}" title="#{bundle.CreateAmigosTitle_amigoCc}" />
                    <h:outputLabel value="#{bundle.CreateAmigosLabel_usuariosusrcc}" for="usuariosusrcc" />
                    <h:selectOneMenu id="usuariosusrcc" value="#{amigosController.selected.usuariosusrcc}" title="#{bundle.CreateAmigosTitle_usuariosusrcc}" required="true" requiredMessage="#{bundle.CreateAmigosRequiredMessage_usuariosusrcc}">
                        <f:selectItems value="#{usuariosController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{amigosController.create}" value="#{bundle.CreateAmigosSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{amigosController.prepareList}" value="#{bundle.CreateAmigosShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateAmigosIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
