<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewAmigosTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewAmigosLabel_amigoId}"/>
                    <h:outputText value="#{amigosController.selected.amigoId}" title="#{bundle.ViewAmigosTitle_amigoId}"/>
                    <h:outputText value="#{bundle.ViewAmigosLabel_amigoCc}"/>
                    <h:outputText value="#{amigosController.selected.amigoCc}" title="#{bundle.ViewAmigosTitle_amigoCc}"/>
                    <h:outputText value="#{bundle.ViewAmigosLabel_usuariosusrcc}"/>
                    <h:outputText value="#{amigosController.selected.usuariosusrcc}" title="#{bundle.ViewAmigosTitle_usuariosusrcc}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{amigosController.destroyAndView}" value="#{bundle.ViewAmigosDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewAmigosEditLink}"/>
                <br />
                <h:commandLink action="#{amigosController.prepareCreate}" value="#{bundle.ViewAmigosCreateLink}" />
                <br />
                <h:commandLink action="#{amigosController.prepareList}" value="#{bundle.ViewAmigosShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewAmigosIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
