<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateEventosTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateEventosLabel_eventoId}" for="eventoId" />
                    <h:inputText id="eventoId" value="#{eventosController.selected.eventoId}" title="#{bundle.CreateEventosTitle_eventoId}" required="true" requiredMessage="#{bundle.CreateEventosRequiredMessage_eventoId}"/>
                    <h:outputLabel value="#{bundle.CreateEventosLabel_eventoTitulo}" for="eventoTitulo" />
                    <h:inputText id="eventoTitulo" value="#{eventosController.selected.eventoTitulo}" title="#{bundle.CreateEventosTitle_eventoTitulo}" />
                    <h:outputLabel value="#{bundle.CreateEventosLabel_eventoDescripcion}" for="eventoDescripcion" />
                    <h:inputText id="eventoDescripcion" value="#{eventosController.selected.eventoDescripcion}" title="#{bundle.CreateEventosTitle_eventoDescripcion}" />
                    <h:outputLabel value="#{bundle.CreateEventosLabel_usuariosusrcc}" for="usuariosusrcc" />
                    <h:selectOneMenu id="usuariosusrcc" value="#{eventosController.selected.usuariosusrcc}" title="#{bundle.CreateEventosTitle_usuariosusrcc}" required="true" requiredMessage="#{bundle.CreateEventosRequiredMessage_usuariosusrcc}">
                        <f:selectItems value="#{usuariosController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{eventosController.create}" value="#{bundle.CreateEventosSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{eventosController.prepareList}" value="#{bundle.CreateEventosShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateEventosIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
