<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListEventosTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListEventosEmpty}" rendered="#{eventosController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{eventosController.items.rowCount > 0}">
                    <h:outputText value="#{eventosController.pagination.pageFirstItem + 1}..#{eventosController.pagination.pageLastItem + 1}/#{eventosController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{eventosController.previous}" value="#{bundle.Previous} #{eventosController.pagination.pageSize}" rendered="#{eventosController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{eventosController.next}" value="#{bundle.Next} #{eventosController.pagination.pageSize}" rendered="#{eventosController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{eventosController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEventosTitle_eventoId}"/>
                            </f:facet>
                            <h:outputText value="#{item.eventoId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEventosTitle_eventoTitulo}"/>
                            </f:facet>
                            <h:outputText value="#{item.eventoTitulo}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEventosTitle_eventoDescripcion}"/>
                            </f:facet>
                            <h:outputText value="#{item.eventoDescripcion}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListEventosTitle_usuariosusrcc}"/>
                            </f:facet>
                            <h:outputText value="#{item.usuariosusrcc}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{eventosController.prepareView}" value="#{bundle.ListEventosViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{eventosController.prepareEdit}" value="#{bundle.ListEventosEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{eventosController.destroy}" value="#{bundle.ListEventosDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{eventosController.prepareCreate}" value="#{bundle.ListEventosCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListEventosIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
