<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewEventosTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewEventosLabel_eventoId}"/>
                    <h:outputText value="#{eventosController.selected.eventoId}" title="#{bundle.ViewEventosTitle_eventoId}"/>
                    <h:outputText value="#{bundle.ViewEventosLabel_eventoTitulo}"/>
                    <h:outputText value="#{eventosController.selected.eventoTitulo}" title="#{bundle.ViewEventosTitle_eventoTitulo}"/>
                    <h:outputText value="#{bundle.ViewEventosLabel_eventoDescripcion}"/>
                    <h:outputText value="#{eventosController.selected.eventoDescripcion}" title="#{bundle.ViewEventosTitle_eventoDescripcion}"/>
                    <h:outputText value="#{bundle.ViewEventosLabel_usuariosusrcc}"/>
                    <h:outputText value="#{eventosController.selected.usuariosusrcc}" title="#{bundle.ViewEventosTitle_usuariosusrcc}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{eventosController.destroyAndView}" value="#{bundle.ViewEventosDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewEventosEditLink}"/>
                <br />
                <h:commandLink action="#{eventosController.prepareCreate}" value="#{bundle.ViewEventosCreateLink}" />
                <br />
                <h:commandLink action="#{eventosController.prepareList}" value="#{bundle.ViewEventosShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewEventosIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
