<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      lang="es"
      xmlns:p="http://primefaces.org/ui"
      xmlns:c="http://xmlns.jcp.org/jsp/jstl/core">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title><ui:insert name="title">Default Title</ui:insert></title>
        <link rel="stylesheet" type="text/css" href="../Recursos/Css/general.css" />
    </h:head>

    <h:body>
        
        <h:form class="Titulo">
                    <p>
<!--                 Alternativamente puede ser:   <h:graphicImage id="logo"  alt="Red Colombiana de Dinámica de Sistemas" url="/Recursos/Imagenes/logoredDS.jpg" style="float:left">
                    </h:graphicImage>    -->
                        
                    <h:graphicImage id="logo"  alt="Red Colombiana de Dinámica de Sistemas" url="/Recursos/Imagenes/logoredDS.jpg" style="float:left">
                    </h:graphicImage>  

                    <p> <h1> Red Colombiana de Dinámica de Sistemas</h1>
                    </p> 
                </p>
                <br></br> <br></br>    
                <p:breadCrumb>  
                    <p:menuitem value="Inicio" actionListener="#{loggin.irA('index')}"/>  
                    <p:menuitem value="Inicio" actionListener="#{loggin.irA('index')}"/>  
                    
                    <p:menuitem value="Perfil" actionListener="#{loggin.irA('perfil')}" rendered="#{loggin.activa}"/> 
                    <p:menuitem value="Contáctenos" actionListener="#{loggin.irA('contacto')}" />  
                </p:breadCrumb>  
           </h:form>
        
    </h:body>

</html>
