<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core"
      xmlns:p="http://primefaces.org/ui"
      xmlns:pt="http://xmlns.jcp.org/jsf/passthrough"
      xmlns:jsf="http://xmlns.jcp.org/jsf">





    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateUsuariosTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <p:messages id="msgs" />    

            <h:form id="datosFrom">

                <p:growl id="growl" showDetail="true" /> 
                <p:messages id="msgs_error" />    
                <p:panel header="Datos Básicos">
                    <h:panelGrid columns="3">

                        <h:outputLabel value="#{bundle.CreateUsuariosLabel_usrCc}" for="usrCc" />
                        <p:inputText id="usrCc" value="#{usuariosController.selected.usrCc}"  validator="#{validadorRegistro.ExisteCedula}" type="number" title="#{bundle.CreateUsuariosTitle_usrCc}" required="true" requiredMessage="#{bundle.CreateUsuariosRequiredMessage_usrCc}">
                            <f:validateLength minimum="7"  />  
                            <p:ajax update="msgCedula" event="keyup"/>
                        </p:inputText>    
                        <p:message for="usrCc" id="msgCedula" display="tooltip" /> 

                        <h:outputLabel value="#{bundle.CreateUsuariosLabel_usrNombres}" for="usrNombres" />
                        <p:inputText id="usrNombres" value="#{usuariosController.selected.usrNombres}" type="text" title="#{bundle.CreateUsuariosTitle_usrNombres}" required="true" requiredMessage="#{bundle.CreateUsuariosRequiredMessage_usrNombres}">
                            <f:validateLength minimum="3" maximum="50"/>  
                            <p:ajax update="msgNombres" event="keyup" />
                        </p:inputText>
                        <p:message for="usrNombres" id="msgNombres" display="tooltip" />

                        <h:outputLabel value="#{bundle.CreateUsuariosLabel_usrApellidos}" for="usrApellidos" />
                        <p:inputText id="usrApellidos" value="#{usuariosController.selected.usrApellidos}" type="text" title="#{bundle.CreateUsuariosTitle_usrApellidos}" required="true" requiredMessage="#{bundle.CreateUsuariosRequiredMessage_usrApellidos}">
                            <f:validateLength minimum="3" maximum="45"/>
                            <p:ajax update="msgApellidos" event="keyup" />
                        </p:inputText>
                        <p:message for="usrApellidos" id="msgApellidos" display="tooltip" />

                        <h:outputLabel value="#{bundle.CreateUsuariosLabel_usrEmail}" for="usrEmail" />
                        <h:inputText id="usrEmail"  pt:type="email" pt:placeholder="Ingrese un email" value="#{usuariosController.selected.usrEmail}" title="#{bundle.CreateUsuariosTitle_usrEmail}" required="true" requiredMessage="#{bundle.CreateUsuariosRequiredMessage_usrEmail}">
                            <f:validateLength minimum="3" maximum="45"/>    
                            <p:ajax update="msgEmail" event="keyup"/>
                        </h:inputText>
                        <p:message for="usrEmail" id="msgEmail" display="tooltip" />



                        <h:outputLabel value="#{bundle.CreateUsuariosLabel_usrPass}" for="usrPass" />
                        <p:password id="usrPass" binding="#{pass}" value="#{usuariosController.selected.usrPass}" 
                                    feedback="true" promptLabel="Seguridad" weakLabel="Debil"  goodLabel="Media" strongLabel="Fuerte" 
                                    title="#{bundle.CreateUsuariosTitle_usrPass}" required="true" requiredMessage="#{bundle.CreateUsuariosRequiredMessage_usrPass}" >
                            <f:validateLength minimum="3" maximum="30" /> 

                            <p:ajax event="keyup" update="msgPass"  />
                        </p:password>
                        <p:message for="usrPass" id="msgPass" display="tooltip" />

                        <h:outputLabel value="Confirmar Contraseña:*" for="usrPassword2" />
                        <p:password  id="usrPassword2"  feedback="false" validator="#{usuariosController.validarCon}"  title="#{bundle.CreateUsuariosTitle_usrPass}" required="true" requiredMessage="#{bundle.CreateUsuariosRequiredMessage_usrPass}">
                            <f:validateLength minimum="3" maximum="30" />  
                            <f:attribute name="password" value="#{pass.value}"/>
                            <p:ajax event="keyup" update="msgContrasena2,growl" />  
                        </p:password>
                        <p:message for="usrPassword2" id="msgContrasena2" display="tooltip" />

                    </h:panelGrid>
                </p:panel>

                <p:panel header="Datos adicionales" >
                    <h:panelGrid columns="2" >

                        <h:outputLabel value="#{bundle.CreateUsuariosLabel_usrSexo}" for="usrSexo" />
                        <p:selectOneMenu id="usrSexo" value="#{usuariosController.selected.usrSexo}">  
                            <f:selectItem itemLabel="Masculino" itemValue="0" />  
                            <f:selectItem itemLabel="Femenino" itemValue="1" />  
                        </p:selectOneMenu> 

                        <h:outputLabel value="#{bundle.CreateUsuariosLabel_usrFechaNacimiento}" for="usrFechaNacimiento" />
                        <p:calendar id="usrFechaNacimiento" value="#{usuariosController.selected.usrFechaNacimiento}" title="#{bundle.CreateUsuariosTitle_usrFechaNacimiento}" >
                            <f:convertDateTime pattern="dd/MM/yy" />
                        </p:calendar>


                        <h:outputLabel value="#{bundle.CreateUsuariosLabel_departamentosdepartamentoid}" for="departamentosdepartamentoid" />
                        <h:selectOneMenu id="departamentosdepartamentoid" value="#{usuariosController.selected.departamentosdepartamentoid}" title="#{bundle.CreateUsuariosTitle_departamentosdepartamentoid}" required="true" requiredMessage="#{bundle.CreateUsuariosRequiredMessage_departamentosdepartamentoid}" validator="#{ciudadController.asignarDepartamento}"  >                        
                            <f:selectItems  value="#{departamentosController.itemsAvailableSelectOne}"/>                        
                            <p:ajax  listener="#{ciudadController.asignarCiudades}"   update="ciudades,growl" />  
                        </h:selectOneMenu>

                        <h:outputLabel value="#{bundle.CreateUsuariosLabel_ciudadciudadid}" for="ciudadciudadid" />
                        <h:selectOneMenu id="ciudades" value="#{usuariosController.selected.ciudadciudadid}" title="#{bundle.CreateUsuariosTitle_ciudadciudadid}" required="true" requiredMessage="#{bundle.CreateUsuariosRequiredMessage_ciudadciudadid}" validator="#{universidadesController.asignarCiudad}">                         
                            <f:selectItem itemLabel="---" itemValue="" />
                            <f:selectItems value="#{ciudadController.ciudades}"/>
                            <p:ajax  listener="#{universidadesController.asignarUniversidades}"   update="universidadesuniversidadid, growl" /> 
                        </h:selectOneMenu>

                        <h:outputLabel value="#{bundle.CreateUsuariosLabel_universidadesuniversidadid}" for="universidadesuniversidadid" />
                        <h:selectOneMenu id="universidadesuniversidadid" value="#{usuariosController.selected.universidadesuniversidadid}" title="#{bundle.CreateUsuariosTitle_universidadesuniversidadid}" required="true" requiredMessage="#{bundle.CreateUsuariosRequiredMessage_universidadesuniversidadid}">
                            <f:selectItem itemLabel="---" itemValue="" />
                            <f:selectItems value="#{universidadesController.universidad}"/>
                        </h:selectOneMenu>

                    </h:panelGrid>
                </p:panel>

                <br />


                <p:row>
                    <p:selectBooleanCheckbox required="true" validator="#{validador.aceptarTerminos}"/>
                    Acepta los terminos y condiciones
                </p:row>
                <br>
                </br>
                <p:commandButton action="#{usuariosController.create}" value="Enviar Solicitud" update="growl"/>



            </h:form>


        </ui:define>
    </ui:composition>

</html>
