<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateHistorialGeneralTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateHistorialGeneralLabel_histGenId}" for="histGenId" />
                    <h:inputText id="histGenId" value="#{historialGeneralController.selected.histGenId}" title="#{bundle.CreateHistorialGeneralTitle_histGenId}" required="true" requiredMessage="#{bundle.CreateHistorialGeneralRequiredMessage_histGenId}"/>
                    <h:outputLabel value="#{bundle.CreateHistorialGeneralLabel_histGenFechaHora}" for="histGenFechaHora" />
                    <h:inputText id="histGenFechaHora" value="#{historialGeneralController.selected.histGenFechaHora}" title="#{bundle.CreateHistorialGeneralTitle_histGenFechaHora}" >
                        <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.CreateHistorialGeneralLabel_histGenVisitas}" for="histGenVisitas" />
                    <h:inputText id="histGenVisitas" value="#{historialGeneralController.selected.histGenVisitas}" title="#{bundle.CreateHistorialGeneralTitle_histGenVisitas}" />
                    <h:outputLabel value="#{bundle.CreateHistorialGeneralLabel_proyectosproyectosid}" for="proyectosproyectosid" />
                    <h:selectOneMenu id="proyectosproyectosid" value="#{historialGeneralController.selected.proyectosproyectosid}" title="#{bundle.CreateHistorialGeneralTitle_proyectosproyectosid}" required="true" requiredMessage="#{bundle.CreateHistorialGeneralRequiredMessage_proyectosproyectosid}">
                        <f:selectItems value="#{proyectosController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{historialGeneralController.create}" value="#{bundle.CreateHistorialGeneralSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{historialGeneralController.prepareList}" value="#{bundle.CreateHistorialGeneralShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateHistorialGeneralIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
