<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListHistorialGeneralTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListHistorialGeneralEmpty}" rendered="#{historialGeneralController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{historialGeneralController.items.rowCount > 0}">
                    <h:outputText value="#{historialGeneralController.pagination.pageFirstItem + 1}..#{historialGeneralController.pagination.pageLastItem + 1}/#{historialGeneralController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{historialGeneralController.previous}" value="#{bundle.Previous} #{historialGeneralController.pagination.pageSize}" rendered="#{historialGeneralController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{historialGeneralController.next}" value="#{bundle.Next} #{historialGeneralController.pagination.pageSize}" rendered="#{historialGeneralController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{historialGeneralController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHistorialGeneralTitle_histGenId}"/>
                            </f:facet>
                            <h:outputText value="#{item.histGenId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHistorialGeneralTitle_histGenFechaHora}"/>
                            </f:facet>
                            <h:outputText value="#{item.histGenFechaHora}">
                                <f:convertDateTime pattern="MM/dd/yyyy HH:mm:ss" />
                            </h:outputText>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHistorialGeneralTitle_histGenVisitas}"/>
                            </f:facet>
                            <h:outputText value="#{item.histGenVisitas}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListHistorialGeneralTitle_proyectosproyectosid}"/>
                            </f:facet>
                            <h:outputText value="#{item.proyectosproyectosid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{historialGeneralController.prepareView}" value="#{bundle.ListHistorialGeneralViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{historialGeneralController.prepareEdit}" value="#{bundle.ListHistorialGeneralEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{historialGeneralController.destroy}" value="#{bundle.ListHistorialGeneralDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{historialGeneralController.prepareCreate}" value="#{bundle.ListHistorialGeneralCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListHistorialGeneralIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
