<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.EditSolicitudesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.EditSolicitudesLabel_solicitudId}" for="solicitudId" />
                    <h:inputText id="solicitudId" value="#{solicitudesController.selected.solicitudId}" title="#{bundle.EditSolicitudesTitle_solicitudId}" required="true" requiredMessage="#{bundle.EditSolicitudesRequiredMessage_solicitudId}"/>
                    <h:outputLabel value="#{bundle.EditSolicitudesLabel_solicitudCc}" for="solicitudCc" />
                    <h:inputText id="solicitudCc" value="#{solicitudesController.selected.solicitudCc}" title="#{bundle.EditSolicitudesTitle_solicitudCc}" />
                    <h:outputLabel value="#{bundle.EditSolicitudesLabel_solicitudFecha}" for="solicitudFecha" />
                    <h:inputText id="solicitudFecha" value="#{solicitudesController.selected.solicitudFecha}" title="#{bundle.EditSolicitudesTitle_solicitudFecha}" >
                        <f:convertDateTime pattern="MM/dd/yyyy" />
                    </h:inputText>
                    <h:outputLabel value="#{bundle.EditSolicitudesLabel_solicitudEstado}" for="solicitudEstado" />
                    <h:inputText id="solicitudEstado" value="#{solicitudesController.selected.solicitudEstado}" title="#{bundle.EditSolicitudesTitle_solicitudEstado}" />
                    <h:outputLabel value="#{bundle.EditSolicitudesLabel_usuariosusrcc}" for="usuariosusrcc" />
                    <h:selectOneMenu id="usuariosusrcc" value="#{solicitudesController.selected.usuariosusrcc}" title="#{bundle.EditSolicitudesTitle_usuariosusrcc}" required="true" requiredMessage="#{bundle.EditSolicitudesRequiredMessage_usuariosusrcc}">
                        <f:selectItems value="#{usuariosController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <h:commandLink action="#{solicitudesController.update}" value="#{bundle.EditSolicitudesSaveLink}"/>
                <br />
                <br />
                <h:link outcome="View" value="#{bundle.EditSolicitudesViewLink}"/>
                <br />
                <h:commandLink action="#{solicitudesController.prepareList}" value="#{bundle.EditSolicitudesShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.EditSolicitudesIndexLink}" />
            </h:form>
        </ui:define>
    </ui:composition>

</html>
