<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListCiudadTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListCiudadEmpty}" rendered="#{ciudadController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{ciudadController.items.rowCount > 0}">
                    <h:outputText value="#{ciudadController.pagination.pageFirstItem + 1}..#{ciudadController.pagination.pageLastItem + 1}/#{ciudadController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{ciudadController.previous}" value="#{bundle.Previous} #{ciudadController.pagination.pageSize}" rendered="#{ciudadController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{ciudadController.next}" value="#{bundle.Next} #{ciudadController.pagination.pageSize}" rendered="#{ciudadController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{ciudadController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCiudadTitle_ciudadId}"/>
                            </f:facet>
                            <h:outputText value="#{item.ciudadId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCiudadTitle_ciudadNombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.ciudadNombre}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCiudadTitle_ciudadCodigoPostal}"/>
                            </f:facet>
                            <h:outputText value="#{item.ciudadCodigoPostal}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListCiudadTitle_departamentosdepartamentoid}"/>
                            </f:facet>
                            <h:outputText value="#{item.departamentosdepartamentoid}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{ciudadController.prepareView}" value="#{bundle.ListCiudadViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{ciudadController.prepareEdit}" value="#{bundle.ListCiudadEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{ciudadController.destroy}" value="#{bundle.ListCiudadDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{ciudadController.prepareCreate}" value="#{bundle.ListCiudadCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListCiudadIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
