<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.CreateUniversidadesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputLabel value="#{bundle.CreateUniversidadesLabel_universidadId}" for="universidadId" />
                    <h:inputText id="universidadId" value="#{universidadesController.selected.universidadId}" title="#{bundle.CreateUniversidadesTitle_universidadId}" required="true" requiredMessage="#{bundle.CreateUniversidadesRequiredMessage_universidadId}"/>
                    <h:outputLabel value="#{bundle.CreateUniversidadesLabel_universidadNombre}" for="universidadNombre" />
                    <h:inputText id="universidadNombre" value="#{universidadesController.selected.universidadNombre}" title="#{bundle.CreateUniversidadesTitle_universidadNombre}" />
                    <h:outputLabel value="#{bundle.CreateUniversidadesLabel_ciudadciudadid}" for="ciudadciudadid" />
                    <h:selectOneMenu id="ciudadciudadid" value="#{universidadesController.selected.ciudadciudadid}" title="#{bundle.CreateUniversidadesTitle_ciudadciudadid}" required="true" requiredMessage="#{bundle.CreateUniversidadesRequiredMessage_ciudadciudadid}">
                        <f:selectItems value="#{ciudadController.itemsAvailableSelectOne}"/>
                    </h:selectOneMenu>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{universidadesController.create}" value="#{bundle.CreateUniversidadesSaveLink}" />
                <br />
                <br />
                <h:commandLink action="#{universidadesController.prepareList}" value="#{bundle.CreateUniversidadesShowAllLink}" immediate="true"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.CreateUniversidadesIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
