<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ViewUniversidadesTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:panelGroup id="messagePanel" layout="block">
                <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
            </h:panelGroup>
            <h:form>
                <h:panelGrid columns="2">
                    <h:outputText value="#{bundle.ViewUniversidadesLabel_universidadId}"/>
                    <h:outputText value="#{universidadesController.selected.universidadId}" title="#{bundle.ViewUniversidadesTitle_universidadId}"/>
                    <h:outputText value="#{bundle.ViewUniversidadesLabel_universidadNombre}"/>
                    <h:outputText value="#{universidadesController.selected.universidadNombre}" title="#{bundle.ViewUniversidadesTitle_universidadNombre}"/>
                    <h:outputText value="#{bundle.ViewUniversidadesLabel_ciudadciudadid}"/>
                    <h:outputText value="#{universidadesController.selected.ciudadciudadid}" title="#{bundle.ViewUniversidadesTitle_ciudadciudadid}"/>
                </h:panelGrid>
                <br />
                <h:commandLink action="#{universidadesController.destroyAndView}" value="#{bundle.ViewUniversidadesDestroyLink}"/>
                <br />
                <br />
                <h:link outcome="Edit" value="#{bundle.ViewUniversidadesEditLink}"/>
                <br />
                <h:commandLink action="#{universidadesController.prepareCreate}" value="#{bundle.ViewUniversidadesCreateLink}" />
                <br />
                <h:commandLink action="#{universidadesController.prepareList}" value="#{bundle.ViewUniversidadesShowAllLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ViewUniversidadesIndexLink}"/>

            </h:form>
        </ui:define>
    </ui:composition>

</html>
