<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:f="http://xmlns.jcp.org/jsf/core">

    <ui:composition template="/template.xhtml">
        <ui:define name="title">
            <h:outputText value="#{bundle.ListGruposInvestigaTitle}"></h:outputText>
        </ui:define>
        <ui:define name="body">
            <h:form styleClass="jsfcrud_list_form">
                <h:panelGroup id="messagePanel" layout="block">
                    <h:messages errorStyle="color: red" infoStyle="color: green" layout="table"/>
                </h:panelGroup>
                <h:outputText escape="false" value="#{bundle.ListGruposInvestigaEmpty}" rendered="#{gruposInvestigaController.items.rowCount == 0}"/>
                <h:panelGroup rendered="#{gruposInvestigaController.items.rowCount > 0}">
                    <h:outputText value="#{gruposInvestigaController.pagination.pageFirstItem + 1}..#{gruposInvestigaController.pagination.pageLastItem + 1}/#{gruposInvestigaController.pagination.itemsCount}"/>&nbsp;
                    <h:commandLink action="#{gruposInvestigaController.previous}" value="#{bundle.Previous} #{gruposInvestigaController.pagination.pageSize}" rendered="#{gruposInvestigaController.pagination.hasPreviousPage}"/>&nbsp;
                    <h:commandLink action="#{gruposInvestigaController.next}" value="#{bundle.Next} #{gruposInvestigaController.pagination.pageSize}" rendered="#{gruposInvestigaController.pagination.hasNextPage}"/>&nbsp;
                    <h:dataTable value="#{gruposInvestigaController.items}" var="item" border="0" cellpadding="2" cellspacing="0" rowClasses="jsfcrud_odd_row,jsfcrud_even_row" rules="all" style="border:solid 1px">
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListGruposInvestigaTitle_gruposInvestigaPK_gruposInvestigaId}"/>
                            </f:facet>
                            <h:outputText value="#{item.gruposInvestigaPK.gruposInvestigaId}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListGruposInvestigaTitle_gruposInvestigaNombre}"/>
                            </f:facet>
                            <h:outputText value="#{item.gruposInvestigaNombre}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="#{bundle.ListGruposInvestigaTitle_universidades}"/>
                            </f:facet>
                            <h:outputText value="#{item.universidades}"/>
                        </h:column>
                        <h:column>
                            <f:facet name="header">
                                <h:outputText value="&nbsp;"/>
                            </f:facet>
                            <h:commandLink action="#{gruposInvestigaController.prepareView}" value="#{bundle.ListGruposInvestigaViewLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{gruposInvestigaController.prepareEdit}" value="#{bundle.ListGruposInvestigaEditLink}"/>
                            <h:outputText value=" "/>
                            <h:commandLink action="#{gruposInvestigaController.destroy}" value="#{bundle.ListGruposInvestigaDestroyLink}"/>
                        </h:column>
                    </h:dataTable>
                </h:panelGroup>
                <br />
                <h:commandLink action="#{gruposInvestigaController.prepareCreate}" value="#{bundle.ListGruposInvestigaCreateLink}"/>
                <br />
                <br />
                <h:link outcome="/index" value="#{bundle.ListGruposInvestigaIndexLink}"/>
            </h:form>
        </ui:define>
    </ui:composition>

</html>
