<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:h="http://java.sun.com/jsf/html"
      xmlns:f="http://java.sun.com/jsf/core"
      xmlns:ui="http://java.sun.com/jsf/facelets"
      xmlns:p="http://primefaces.org/ui">

    <f:view contentType="text/html">
        <h:head>
            <f:facet name="first">
                <meta content='text/html; charset=UTF-8' http-equiv="Content-Type"/>
                <link rel="stylesheet" type="text/css" href="Recursos/Css/general.css" />
                <link rel="stylesheet" type="text/css" href="Recursos/Banner/engine1/style.css" media="screen" />
                <script type="text/javascript" src="Recursos/Banner/engine1/jquery.js"></script>
                <title>Red Colombiana de Dinámica de sistemas</title>
                <h:outputStylesheet name="css/jsfcrud.css"/>
            </f:facet>
        </h:head>

        <h:body>
            <div class="cubierta">

                <p:layout style="height: 1800px; padding: 0; margin: 0;">

                    <p:layoutUnit position="north" size="190" resizable="true" closable="true" collapsible="true" rendered="#{!loggin.activa}">
                        <ui:include src="/componentes/menugeneral.xhtml"/>


                    </p:layoutUnit>

                    <p:layoutUnit position="north" size="190" resizable="true" closable="true" collapsible="true" rendered="#{loggin.activa}">
                        <ui:include src="/componentes/menuregistro.xhtml" />
                    </p:layoutUnit>

                    <p:layoutUnit position="east" size="270" header="Iniciar sesión" collapsible="true" rendered="#{!loggin.activa}">
                        <ui:include src="/componentes/iniciarSesion.xhtml" class="iniciarsesion"/>

                        <br/>
                        <h:form >
                            <p:growl id="growl" showDetail="true" /> 
                            <p:commandButton value="Solicitar inscripción" actionListener="#{loggin.solicitarInscripcion()}" styleClass="ui-priority-primary"/> 
                        </h:form>
                    </p:layoutUnit>

                    <p:layoutUnit position="east" size="270" header="Sesión Iniciada" collapsible="true" rendered="#{loggin.activa}">
                        <ui:include src="/componentes/perfil.xhtml" class="iniciarsesion"/>                                         
                    </p:layoutUnit>

                    <p:layoutUnit position="center" size="500" >
                        <ui:include src="/componentes/banner.xhtml" />
                        <ui:include src=""  />
                    </p:layoutUnit>

                    <p:layoutUnit position="south" size="140" closable="true" collapsible="false" >
                        <ui:include src="/componentes/piePagina.xhtml" />
                    </p:layoutUnit>

                    <footer>
                        <p>
                            <small>
                                Copyleft  2013<br/>
                                Actualizado en: 11 Noviembre 2011
                            </small>
                        </p>
                    </footer>
                </p:layout>

            </div>

            <br />
            <h:link outcome="/web/foros/List" value="Show All Foros Items"/>
            <br />
            <h:link outcome="/web/solicitudes/List" value="Show All Solicitudes Items"/>
        </h:body>



    </f:view>
</html>

