<?xml version='1.0' encoding='UTF-8' ?> 
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
      xmlns:h="http://xmlns.jcp.org/jsf/html"
      xmlns:p="http://primefaces.org/ui">
    <h:head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title><ui:insert name="title">Red Colombiana de Dinámica de sistemas</ui:insert></title>
        <h:outputStylesheet name="css/jsfcrud.css"/>
    </h:head>

    <h:body>

        <p:layout fullPage="true">
            <p:layoutUnit position="north" size="100" resizable="true" closable="true" collapsible="true">

                <ui:insert name="header">
                    Header
                </ui:insert>

            </p:layoutUnit>
            <p:layoutUnit position="south" size="100" closable="true" collapsible="true">
                <ui:insert name="footer">
                    Footer
                </ui:insert>

             </p:layoutUnit>
            <p:layoutUnit position="west" size="175" header="Left" collapsible="true">
                <ui:insert name="menu_lateral">

                        <p:menu>
                            <p:submenu label="Resources">
                                <p:menuitem value="Demo" url="http://www.primefaces.org/showcase-labs/ui/home.jsf" />
                                <p:menuitem value="Documentation" url="http://www.primefaces.org/documentation.html" />
                                <p:menuitem value="Forum" url="http://forum.primefaces.org/" />
                                <p:menuitem value="Themes" url="http://www.primefaces.org/themes.html" />

                            </p:submenu>

                        </p:menu>

                </ui:insert>
            </p:layoutUnit>
            <p>
                <p:layoutUnit position="center" size="2000">
                    <ui:insert name="central">
                            Welcome to PrimeFaces
                    </ui:insert>
            </p:layoutUnit> 
            </p>
        </p:layout>


    </h:body>

</html>
